<a href="https://colab.research.google.com/github/Tweaka/MappingApi/blob/master/Copie_de_Python_2_2_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

What's the lenght of the following string ?

In [2]:
s = "Taumata whakatangihanga koauau o tamatea turi pukaka piki maungah oronuku pokai whenuaki tanatahu "
print(len(s))

98

Now, count only non-space characters and display how many there is.
Remember, using a for loop on a string will browse all the individual characters of it!

In [3]:
s = "Taumata whakatangihanga koauau o tamatea turi pukaka piki maungah oronuku pokai whenuaki tanatahu "
print(s.count(' '))

13

# Mission 2

Ask the user for a string, then for a character (we assume user input follows the rules). Then, display the positions, **starting with 1**, of all occurrences of the character within the string.

For example, for the word "welcome" and for the character "e", the script will display:
```
position: 2
position: 7
```

In [5]:
user_string = input("type any string : ")

user_char = input("type any character from this string : ")

positions = []

for i in range(len(user_string)):
    if user_string[i] == user_char:
        positions.append(i + 1)

for pos in positions:
    print("position:", pos)

type any string : vfvx
type any character from this string : v
position: 1
position: 3

# Mission 3

Ask the user for a string, then for an integer. Then, display the string repeated as many times as the given integer.

For example, `badger` and `4` will display `badgerbadgerbadgerbadger`

In [7]:
user_string = input("type any string :")
user_int = int(input('type any integer : '))


result = user_string * user_int

print(result)

type any string :vsdvcqdfg
type any integer : 5
vsdvcqdfgvsdvcqdfgvsdvcqdfgvsdvcqdfgvsdvcqdfg

# Mission 4

Display the following string without including the spaces at the beginning and end. There's a `string` method that does exactly that, look at the documentation!

In [8]:
s = "   Data Analyst  "
s.strip()

'Data Analyst'

# Mission 5

Ask the user for a string, then for a character, then for another character.

Then, display the string where the occurences of the first character are replaced by the second one.  
For example:
* string = `"Boulgour"`  
* 1st_char = `"g"`
* 2nd_char = `"v"`

Result : `"Boulvour"`

In [9]:
user_string = input('enter string :')
user_char_1 = input('type one char :')
user_char_2 = input('type another char :')

if user_char_1 in user_string:
  user_string.replace(user_char_1, user_char_2)

enter string :bateau
type one char :b
type another char :r

# Mission 6

Ask the user for a string. Then, display the same string with all vowels converted to uppercase, and all consonants converted to lowercase.  
For example:
* string = `"Papa's got a brand new bag"`  
Result : `"pApA's gOt A brAnd nEw bAg"`

In [11]:
user_string = input('type string :')

vowels = ['a', 'e', 'i', 'o', 'u', 'y']

result = ''

for char in user_string:
        if char.lower() in vowels:
            result += char.upper()
        else:
            result += char.lower()
print(result)

type string :gfdIOERGugehrgerGUHERJGN
gfdIOErgUgEhrgErgUhErjgn